/* MAIN */
.main-container {
    max-width: 80vw;
    height: 100vh;
    margin-left: 320px;
    margin-right: 56px;
}

.header_navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    margin: 10px;
    border-radius: 8px;
    background-color: var(--bgcolor-low);
}

.header_navigation .navigation {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navigation .arrow-left {
    margin-right: 1.25rem;
}

.arrow-left, 
.arrow-right {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    background: var(--color-bg-icon);
    background-color: var(--color-bg-arrow);
    border-radius: 50%;
    border: none;
    cursor: pointer;
}

.header_search {
    display: flex;
    align-items: center;
    width: 364px;
    height: 48px;
    margin-left: 8px;
    border-radius: 500px;
    border: 1px solid transparent;
    background-color: var(--bgcolor-high);
}

.header_search img {
    width: 16px;
    height: 16px;
    margin-left: 10px;
}

.header_search input {
    background: transparent;
    color: #fff;
    border: none;
    padding: 0 100px 0 12px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    outline: none;
}

.header_login {
    display: flex;
    align-items: center;
}

.header_login .subscribe {
    background-color: transparent;
    border: none;
    color: #a7a7a7;
    font-size: 16px;
    font-weight: 700;
    margin-right: 32px;
}

.header_login .login {
    width: 100px;
    height: 48px;
    font-size: 16px;
    font-weight: 700;
    border-radius: 40px;
    color: #000;
}

.playlist-container {
    max-height: 68vh;
    padding-top: 16px;
    margin: 10px;
    border-radius: 10px;
    background-color: var(--bgcolor-low);
}

.playlist {
  margin: 24px;
  color: var(--textcolor-high);
}

.playlist #greeting {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 48px;
}

.playlist .session {
    font-size: 24px;
    font-weight: 700;
}