:root {
    /* FONTS */
    --font-dm-sans: "DM Sans", sans-serif;
    
    /* COLORS */
    --bgcolor-low: #121212;
    --bgcolor-high: #242424;

    --textcolor-low: #b3b3b3;
    --textcolor-high: #fff;

    --bgcolor-icon: #131313;
    --bgcolor-arrow: rgba(0, 0, 0, 7);

    --color-gradient-left: #af2896;
    --color-gradient-right: #509bf5;
}